In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import chi2_contingency

In [ ]:
df = pd.read_csv('/content/DATASET.csv')
df

,ProductID,ProductName,ProductBrand,Gender,Price (INR),NumImages,Description,PrimaryColor
0,10017413,DKNY Unisex Black & Grey Printed Medium Trolle...,DKNY,Unisex,11745,7,"Black and grey printed medium trolley bag, sec...",Black
1,10016283,EthnoVogue Women Beige & Grey Made to Measure ...,EthnoVogue,Women,5810,7,Beige & Grey made to measure kurta with churid...,Beige
2,10009781,SPYKAR Women Pink Alexa Super Skinny Fit High-...,SPYKAR,Women,899,7,Pink coloured wash 5-pocket high-rise cropped ...,Pink
3,10015921,Raymond Men Blue Self-Design Single-Breasted B...,Raymond,Men,5599,5,Blue self-design bandhgala suitBlue self-desig...,Blue
4,10017833,Parx Men Brown & Off-White Slim Fit Printed Ca...,Parx,Men,759,5,"Brown and off-white printed casual shirt, has ...",White
...,...,...,...,...,...,...,...,...
12486,10262843,Pepe Jeans Men Black Hammock Slim Fit Low-Rise...,Pepe Jeans,Men,1299,7,"Black dark wash 5-pocket low-rise jeans, clean...",Black
12487,10261721,Mochi Women Gold-Toned Solid Heels,Mochi,Women,1990,5,"A pair of gold-toned open toe heels, has regul...",Gold
12488,10261607,612 league Girls Navy Blue & White Printed Reg...,612 league,Girls,602,4,Navy Blue and White printed mid-rise denim sho...,Blue
12489,10266621,Bvlgari Men Aqva Pour Homme Marine Eau de Toil...,Bvlgari,Men,8950,2,Bvlgari Men Aqva Pour Homme Marine Eau de Toil...,NaN
12490,10265199,Pepe Jeans Men Black & Grey Striped Polo Colla...,Pepe Jeans,Men,799,5,"Black and grey striped T-shirt, has a polo col...",Black

In [ ]:
df=pd.DataFrame({'PRODUCT_ID':df['ProductID'],'PRODUCT_NAME':df['ProductName'],'NUMIMAGES':df['NUMIMAGES'],'GENDER':df['Gender'],'PRICE':df['Price (INR)'],'DESCRIPTION':df['Description'],'NUMIMAGES':df['NUMIMAGES'], 'NUMIMAGES':df['NumImages'],  })
df

,PRODUCT_ID,PRODUCT_NAME,PRODUCTBRAND,GENDER,PRICE,DESCRIPTION,PRIMARYCOLOR,NUMIMAGES
0,10017413,DKNY Unisex Black & Grey Printed Medium Trolle...,DKNY,Unisex,11745,"Black and grey printed medium trolley bag, sec...",Black,7
1,10016283,EthnoVogue Women Beige & Grey Made to Measure ...,EthnoVogue,Women,5810,Beige & Grey made to measure kurta with churid...,Beige,7
2,10009781,SPYKAR Women Pink Alexa Super Skinny Fit High-...,SPYKAR,Women,899,Pink coloured wash 5-pocket high-rise cropped ...,Pink,7
3,10015921,Raymond Men Blue Self-Design Single-Breasted B...,Raymond,Men,5599,Blue self-design bandhgala suitBlue self-desig...,Blue,5
4,10017833,Parx Men Brown & Off-White Slim Fit Printed Ca...,Parx,Men,759,"Brown and off-white printed casual shirt, has ...",White,5
...,...,...,...,...,...,...,...,...
12486,10262843,Pepe Jeans Men Black Hammock Slim Fit Low-Rise...,Pepe Jeans,Men,1299,"Black dark wash 5-pocket low-rise jeans, clean...",Black,7
12487,10261721,Mochi Women Gold-Toned Solid Heels,Mochi,Women,1990,"A pair of gold-toned open toe heels, has regul...",Gold,5
12488,10261607,612 league Girls Navy Blue & White Printed Reg...,612 league,Girls,602,Navy Blue and White printed mid-rise denim sho...,Blue,4
12489,10266621,Bvlgari Men Aqva Pour Homme Marine Eau de Toil...,Bvlgari,Men,8950,Bvlgari Men Aqva Pour Homme Marine Eau de Toil...,NaN,2
12490,10265199,Pepe Jeans Men Black & Grey Striped Polo Colla...,Pepe Jeans,Men,799,"Black and grey striped T-shirt, has a polo col...",Black,5

In [ ]:
df['NUMIMAGES'].unique()

array([ 7,  5,  4,  6,  3,  2,  1,  8,  9, 10])

In [ ]:
df1 = df.groupby(['NUMIMAGES'])
df1

In [ ]:
df1['PRODUCTBRAND'].value_counts().loc[7]

PRODUCTBRAND
Puma                         136
Roadster                     133
Flying Machine                77
HERE&NOW                      75
WROGN                         70
                            ...
UCLA                           1
United Colors of Benetton      1
V Dot                          1
Woodland                       1
boAt                           1
Name: PRODUCTBRAND, Length: 93, dtype: int64

In [ ]:
df1['PRODUCTBRAND'].value_counts().loc[5]

PRODUCTBRAND
Indian Terrain    515
AURELIA           217
W                 172
Park Avenue       165
Puma              155
                 ...
breya               1
even                1
mf                  1
pinwheel            1
shiloh              1
Name: PRODUCTBRAND, Length: 517, dtype: int64

In [ ]:
df1['PRODUCTBRAND'].value_counts().loc[4]

PRODUCTBRAND
Pepe Jeans                   174
Indian Terrain               165
Cortina                      130
Soumya                        66
Sonari                        53
                            ...
United Colors of Benetton      1
Vero Moda                      1
hummel                         1
shaze                          1
yelloe                         1
Name: PRODUCTBRAND, Length: 206, dtype: int64

In [ ]:
data = [[345, 145], [326, 214], [8, 5]]

In [ ]:
test_statistic, p_value, dof, expected_freq = chi2_contingency(data)

In [ ]:
print(f'Test Statistic - {test_statistic}\nP-Value - {p_value}\nDegrees of Freedom - {dof}')

Test Statistic - 11.466220316047545
P-Value - 0.0032369939986537123
Degrees of Freedom - 2

In [ ]:
alpha = 0.05
if p_value <= alpha:
    print('Reject null hypothesis')
else:
    print('Fail to reject null hypothesis')

Reject null hypothesis