In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as st

In [ ]:
df=pd.read_csv('/content/myntra_products_catalog.csv')
df

,ProductID,ProductName,ProductBrand,Gender,Price (INR),NumImages,Description,PrimaryColor
0,10017413,DKNY Unisex Black & Grey Printed Medium Trolle...,DKNY,Unisex,11745,7,"Black and grey printed medium trolley bag, sec...",Black
1,10016283,EthnoVogue Women Beige & Grey Made to Measure ...,EthnoVogue,Women,5810,7,Beige & Grey made to measure kurta with churid...,Beige
2,10009781,SPYKAR Women Pink Alexa Super Skinny Fit High-...,SPYKAR,Women,899,7,Pink coloured wash 5-pocket high-rise cropped ...,Pink
3,10015921,Raymond Men Blue Self-Design Single-Breasted B...,Raymond,Men,5599,5,Blue self-design bandhgala suitBlue self-desig...,Blue
4,10017833,Parx Men Brown & Off-White Slim Fit Printed Ca...,Parx,Men,759,5,"Brown and off-white printed casual shirt, has ...",White
...,...,...,...,...,...,...,...,...
12486,10262843,Pepe Jeans Men Black Hammock Slim Fit Low-Rise...,Pepe Jeans,Men,1299,7,"Black dark wash 5-pocket low-rise jeans, clean...",Black
12487,10261721,Mochi Women Gold-Toned Solid Heels,Mochi,Women,1990,5,"A pair of gold-toned open toe heels, has regul...",Gold
12488,10261607,612 league Girls Navy Blue & White Printed Reg...,612 league,Girls,602,4,Navy Blue and White printed mid-rise denim sho...,Blue
12489,10266621,Bvlgari Men Aqva Pour Homme Marine Eau de Toil...,Bvlgari,Men,8950,2,Bvlgari Men Aqva Pour Homme Marine Eau de Toil...,NaN
12490,10265199,Pepe Jeans Men Black & Grey Striped Polo Colla...,Pepe Jeans,Men,799,5,"Black and grey striped T-shirt, has a polo col...",Black

In [ ]:
df.columns

Index(['ProductID', 'ProductName', 'ProductBrand', 'Gender', 'Price (INR)',
       'NumImages', 'Description', 'PrimaryColor'],
      dtype='object')

In [ ]:
df=pd.DataFrame({'PRODUCT_ID':df['ProductID'],'PRODUCT_NAME':df['ProductName'],'PRODUCTBRAND':df['ProductBrand'],'GENDER':df['Gender'],'PRICE':df['Price (INR)'],'DESCRIPTION':df['Description'],'PRIMARYCOLOR':df['PrimaryColor'],  })
df

,PRODUCT_ID,PRODUCT_NAME,PRODUCTBRAND,GENDER,PRICE,DESCRIPTION,PRIMARYCOLOR
0,10017413,DKNY Unisex Black & Grey Printed Medium Trolle...,DKNY,Unisex,11745,"Black and grey printed medium trolley bag, sec...",Black
1,10016283,EthnoVogue Women Beige & Grey Made to Measure ...,EthnoVogue,Women,5810,Beige & Grey made to measure kurta with churid...,Beige
2,10009781,SPYKAR Women Pink Alexa Super Skinny Fit High-...,SPYKAR,Women,899,Pink coloured wash 5-pocket high-rise cropped ...,Pink
3,10015921,Raymond Men Blue Self-Design Single-Breasted B...,Raymond,Men,5599,Blue self-design bandhgala suitBlue self-desig...,Blue
4,10017833,Parx Men Brown & Off-White Slim Fit Printed Ca...,Parx,Men,759,"Brown and off-white printed casual shirt, has ...",White
...,...,...,...,...,...,...,...
12486,10262843,Pepe Jeans Men Black Hammock Slim Fit Low-Rise...,Pepe Jeans,Men,1299,"Black dark wash 5-pocket low-rise jeans, clean...",Black
12487,10261721,Mochi Women Gold-Toned Solid Heels,Mochi,Women,1990,"A pair of gold-toned open toe heels, has regul...",Gold
12488,10261607,612 league Girls Navy Blue & White Printed Reg...,612 league,Girls,602,Navy Blue and White printed mid-rise denim sho...,Blue
12489,10266621,Bvlgari Men Aqva Pour Homme Marine Eau de Toil...,Bvlgari,Men,8950,Bvlgari Men Aqva Pour Homme Marine Eau de Toil...,NaN
12490,10265199,Pepe Jeans Men Black & Grey Striped Polo Colla...,Pepe Jeans,Men,799,"Black and grey striped T-shirt, has a polo col...",Black

In [ ]:
df.groupby('GENDER').mean()

               PRODUCT_ID        PRICE
GENDER
Boys         1.013053e+07   849.890909
Girls        1.013760e+07   941.459091
Men          9.917616e+06  1573.978872
Unisex       1.012891e+07  2161.124579
Unisex Kids  1.008212e+07  1082.717391
Women        9.801487e+06  1356.361295

# Hypothesis testing

## NULL HYPOTHESIS: gender women makes average PRICE of 1356
## ALTERNATIVE HYPOTHESIS: gender women average PRICE more than of 1356

In [ ]:
sample=df.loc[df['GENDER']=='Women']
newsamplele=sample.sample(187)
newsample

,PRODUCT_ID,PRODUCT_NAME,PRODUCTBRAND,GENDER,PRICE,DESCRIPTION,PRIMARYCOLOR
9322,10220371,Anouk Women Silver-Toned Embellished One Toe F...,Anouk,Women,699,"A pair of silver-toned round-toe flats, has re...",Silver
6909,10182349,Style Quotient Women Maroon Original Loose Fit...,Style Quotient,Women,655,"Maroon solid mid-rise culottes, has slip-on cl...",Maroon
5607,10146517,KLEIO Women Black Solid Sling Bag,KLEIO,Women,671,"Black solid sling bag, has a button closure1 m...",Black
666,10014843,AccessHer Gold-Plated Meenakari Jewellery Set,AccessHer,Women,1064,Gold-plated necklace with gray enamel details ...,Gold
7469,10185193,AURELIA Women Off-White & Blue Striped Straigh...,AURELIA,Women,519,"Off-white, blue and rust red self-striped stra...",Blue
...,...,...,...,...,...,...,...
731,10013057,Sera Women Navy Blue & Off-White Printed Kurta...,Sera,Women,1437,Navy Blue and off-white printed kurta with tro...,Blue
6037,10166343,Hummel Women Navy Blue Solid Skinny-Fit Tights,hummel,Women,719,"Navy blue solid skinny-fit tights, has an elas...",Blue
911,10016267,EthnoVogue Women Burgundy Solid Made to Measur...,EthnoVogue,Women,4355,Burgundy made to measure solid maxi cocktail g...,Burgundy
7683,10178887,GERUA Women Peach-Coloured & Rust Orange Print...,GERUA,Women,1079,Peach-coloured and rust orange printed kurta w...,Red
5562,10142491,MANGO Women Olive Green & White Regular Fit Pr...,MANGO,Women,1790,"Olive green and white printed casual shirt, ha...",Green

In [ ]:
newsample.PRICE.mean()

1240.4972972972973

## z test

In [ ]:

sd=np.std(newsample['PRICE'])
sd

1081.8567379020417

In [ ]:
newsample.std()

<ipython-input-27-2ebb23542616>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  newsample.std()

PRODUCT_ID    1.865406e+06
PRICE         1.084793e+03
dtype: float64

In [ ]:
xbar=newsample.PRICE.mean()
mu=1356
n=189 
alpha=0.05

In [ ]:
xbar

1240.4972972972973

In [ ]:
zvalue=(xbar-mu)/(sd/np.sqrt(n))
zvalue

-1.4677540737978239

In [ ]:
z_critical = st.norm.ppf(alpha)  
z_critical

-1.6448536269514729

In [ ]:
if (zvalue<z_critical and abs(zvalue)> abs(z_critical)):
  print("Reject Null Hypotheisis")
else:
  print("cant reject Null Hypothesis")

cant reject Null Hypothesis

## using p value

In [ ]:
p_val = (1 - st.norm.cdf(abs(zvalue)))
p_val

0.07005539381795833

In [ ]:

if p_val<alpha:
  print("Reject Null Hypotheisis")
else:
  print("Fail to reject Null Hypothesis")

Fail to reject Null Hypothesis

## Hence GENDER Women On mean doesn't make more than 1356 per day so thatwe fail to reject the Null Hypothesis

## T test

In [ ]:
TSAMPLE=sample.sample(34)
TSAMPLE

,PRODUCT_ID,PRODUCT_NAME,PRODUCTBRAND,GENDER,PRICE,DESCRIPTION,PRIMARYCOLOR
445,10013543,PARFAIT Plus Size Nude-Coloured Solid Underwir...,PARFAIT,Women,1609,Nude-coloured solid medium-coverage Balconette...,Red
6239,10157879,GAP Women's Vintage Soft Gap Logo Sweatshirt,GAP,Women,2999,Our softer than soft sweats. Garment-dyed and ...,NaN
4571,10121867,Adorenite Women Coral Red Solid Robe With Embr...,ADORENITE,Women,1199,"Coral Red solid robe, has an open front, long ...",Red
3754,10063979,Eavan Women Burgundy Solid A-Line Top,Eavan,Women,629,"Burgundy solid knitted A-line top, has a keyh...",Burgundy
6228,10156373,E2O Red Textured Clutch,E2O,Women,1624,Red textured clutch1 main compartment with but...,Red
7301,10178041,HERE&NOW Women Red Solid Windcheater Hooded Pu...,HERE&NOW,Women,1399,"Red solid jacket, has a detachable hood, 2 poc...",Red
8445,10199989,MISH Women Green & White Striped A-Line Dress,MISH,Women,1079,"Green, white and navy blue striped woven A-lin...",Green
3120,10098867,Sangria Women Off-White & Golden Self Design Top,Sangria,Women,699,Off-White and golden self design woven regular...,White
4858,10125229,Karatcart Gold-plated Kundan-Studded Beaded Ri...,KARATCART,Women,427,Gold-plated ring braceletMaterial and stone ty...,Gold
7977,10207103,W Women Peach-Coloured & White Woven Design St...,W,Women,1119,Peach-Coloured and white woven design straight...,Red
7849,10185065,AURELIA Women Sea Green Regular Fit Solid Regu...,AURELIA,Women,319,"Sea Green solid mid-rise trousers, has an elas...",Green
10541,10246453,U.S. Polo Assn. Women Women Blue & White Strip...,U.S. Polo Assn. Women,Women,849,"Blue and White striped woven regular top, has...",Blue
4685,10115385,Mast & Harbour Women Navy Blue Self Design Jacket,Mast & Harbour,Women,1294,"Navy Blue and Brown self-design jacket, has a ...",Blue
8507,10205757,Oxolloxo Women Blue & White Floral Printed A-L...,Oxolloxo,Women,584,"Blue and White printed woven A-line top, has a...",Blue
38,10015989,Tokyo Talkies Women Off-White & Pink Floral Pr...,Tokyo Talkies,Women,499,Off-White and pink printed woven fit and flare...,White
9350,10224943,Biba Women Navy Blue Yoke Design A-Line Kurta,Biba,Women,1499,Navy Blue yoke design A-line kurta with embroi...,Blue
11269,10248101,Daily Life Forever52 Women Pink Super Stay Lip...,Daily Life Forever52,Women,629,What It Is?:Daily Life Forever52 Super Stay Li...,Pink
9619,10224709,Peora Silver-Plated Green Dome Shaped Jhumkas,Peora,Women,823,"Green Silver-Plated Dome Shaped Earrings, and ...",Green
5690,10145413,Jewels Galaxy Gold-Plated Square Studs,Jewels Galaxy,Women,500,Gold-plated square studsSecured with a post an...,Gold
133,10002079,GAS Women Navy Blue Regular Fit Mid-Rise Clean...,GAS,Women,3595,"Navy Blue dark wash 5-pocket mid-rise jeans, c...",Blue
10725,10242677,FableStreet Women Orange Printed A-Line Dress,FableStreet,Women,2316,"Orange printed woven A-line dress, has a roun...",Orange
6887,10158659,DressBerry Women Navy Blue Skinny Fit Mid-Rise...,DressBerry,Women,1499,Navy blue medium wash two-pocket mid-rise jean...,Blue
9322,10220371,Anouk Women Silver-Toned Embellished One Toe F...,Anouk,Women,699,"A pair of silver-toned round-toe flats, has re...",Silver
7422,10177983,HERE&NOW Women Black Solid Jacket,HERE&NOW,Women,1249,"Black solid jacket, has a hooded, 2 pockets, z...",Black
12072,1027007,Sonari Pack of 2 Full-Coverage Bras celina,Sonari,Women,900,Pack of two full-coverage bras in whiteEach ha...,NaN
3552,10101319,DODO & MOA Women White & Pink Fit and Flare Dress,DODO & MOA,Women,1210,"White and Pink dyed woven fit and flare dress,...",White
10997,10260313,QUIERO Women Navy Blue Solid Basic Jumpsuit,QUIERO,Women,1262,Navy Blue solid basic jumpsuit with pleats and...,Blue
9652,10231729,Marks & Spencer Black Solid Underwired Lightly...,Marks & Spencer,Women,1999,Black solid full-coverage T-shirt braLightly p...,Red
4581,10108709,BuckleUp Women Maroon Solid Pumps,BuckleUp,Women,1223,"A pair of maroon pointed toe pumps, has mid-to...",Maroon
7678,10185123,AURELIA Women Black Yoke Design A-Line Winter ...,AURELIA,Women,1999,"Black yoke design A-line winter kurta, has a m...",Black
12339,10261869,Belle Fille Women Blue & Red Printed Layered W...,Belle Fille,Women,759,"Blue and Red printed layered woven wrap dress,...",Blue
7564,10178901,GERUA Women Maroon & Golden Block Print A-Line...,GERUA,Women,892,Maroon and golden Block print woven A-line dre...,Maroon
7138,10185283,AURELIA Women Charcoal Grey Yoke Design Straig...,AURELIA,Women,599,"Charcoal grey yoke design straight kurta, has ...",Grey
9175,10234269,GNIST Women Brown Woven Design Open Toe Flats,GNIST,Women,699,"A pair of brown woven design open-toed flats, ...",Brown

In [ ]:
t_sd=np.std(TSAMPLE['PRICE'])
t_sd

712.1247078152596

In [ ]:
xbar=TSAMPLE.PRICE.mean()
print(xbar)
mu=1356
n=34
alpha=0.05

1218.8235294117646

In [ ]:
n = 34
degrees_of_freedom = n-1
t = (xbar - mu)/(t_sd / np.sqrt(n))
t

-0.9457482598101278

In [ ]:
t_critical = st.t.ppf(alpha, degrees_of_freedom)
t_critical

-1.6923603138485823

In [ ]:
if (t > t_critical):
    print("Null hypothesis cannot be rejected")
else:
    print("Reject null hypothesis")

Null hypothesis cannot be rejected

## so that both Z test and T test gives same result, we cant reject null hypothesis.